{% extends 'base.html' %}

{% block content %}

<h1>blog posts!</h1>

{% for i in range(posts|length) %}

<h2><a href="/blog/{{ posts[i].key().id() }}">{{ posts[i].title }}</a></h2>
<p>{{ posts[i].body }}</p>
<!-- TODO add author w/ link to author's blog page | Done -->
<span style="font-size: 10px; margin-top: 4px;">by <a href="/blog/{{ users[i] }}">{{ users[i] }}</a></span>
{% endfor %}

{% if username %}
    {% if prev_page %}
    <a href="/blog/{{ username }}?page={{ prev_page }}">&lt; prev</a>
    {% endif %}

    {% if prev_page and next_page %}
    &nbsp;&nbsp; | &nbsp;&nbsp;
    {% endif %}

    {% if next_page %}
    <a href="/blog/{{ username }}?page={{ next_page }}">next &gt;</a>
    {% endif %}
{% endif %}

{% if not username %}
    {% if prev_page %}
    <a href="/blog?page={{ prev_page }}">&lt; prev</a>
    {% endif %}

    {% if prev_page and next_page %}
    &nbsp;&nbsp; | &nbsp;&nbsp;
    {% endif %}

    {% if next_page %}
    <a href="/blog?page={{ next_page }}">next &gt;</a>
    {% endif %}
{% endif %}

{% endblock %}
